Checks: >-
  *,
  -altera-id-dependent-backward-branch,
  -altera-unroll-loops,
  -bugprone-branch-clone,
  -bugprone-integer-division,
  -bugprone-narrowing-conversions,
  -bugprone-too-small-loop-variable,
  -cert-dcl16-c,
  -cert-err58-cpp,
  -cert-flp30-c,
  -clang-analyzer-cplusplus.Move,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -fuchsia*,
  -google*,
  -hicpp*,
  -llvm*,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -modernize-make-unique,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-emplace,
  -modernize-use-equals-default,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -performance-move-const-arg,
  -performance-no-automatic-move,
  -performance-type-promotion-in-math-fn,
  -performance-unnecessary-copy-initialization,
  -performance-unnecessary-value-param,
  -readability-braces-around-statements,
  -readability-const-return-type,
  -readability-container-size-empty,
  -readability-convert-member-functions-to-static,
  -readability-delete-null-pointer,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-misleading-indentation,
  -readability-non-const-parameter,
  -readability-qualified-auto,
  -readability-redundant-control-flow,
  -readability-redundant-declaration,
  -readability-redundant-member-init,
  -readability-identifier-length,
  -readability-simplify-boolean-expr,
  -readability-static-accessed-through-instance,
  -readability-static-definition-in-anonymous-namespace,
  -readability-uppercase-literal-suffix,

CheckOptions:
 - key:   AllowIntegerConditions
   value: 1
 - key:   AllowPointerConditions
   value: 1

HeaderFilterRegex: '^(.*/|)[^q][^/]*$'
