.gitignore           export-ignore
.gitattributes       export-ignore
*.ocd                binary
#*.ts                 binary diff=xmllint
3rd-party/*          linguist-vendored
doc/*                linguist-documentation
help/*               linguist-documentation
