.DS_Store
*.kdev4
*.pro.user
*~
Makefile
bin/Mapper
bin/*.omap
bin/*.ocd
bin/*.exe
bin/*.dll
bin/plugins
bin/translations
build*/
help/*.qhc
help/*.qch
3rd-party/clipper
3rd-party/proj/*.tar.gz
3rd-party/proj/*.zip
3rd-party/qt4/*.tar.gz
3rd-party/qt4/*.zip
resources/resources.rc
