[Desktop Entry]
Type=Application
Name=OpenOrienteering Mapper
Comment=Orienteering map drawing program
Comment[de]=Programm zum Zeichnen von Orientierungslaufkarten
Comment[ru]=Программа картографии для спортивного ориентирования
Exec=Mapper %F
Icon=Mapper
Terminal=false
Categories=Graphics;Qt;
MimeType=application/x-openorienteering-xmap;application/x-openorienteering-ocd;
