<?xml version='1.0' encoding='utf-8'?>
<manifest android:versionCode="1" package="org.openorienteering.oo_mapper" android:versionName="0.6.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<application android:name="org.qtproject.qt5.android.bindings.QtApplication" android:label="@string/app_name" android:icon="@drawable/icon">
		<activity android:name="org.qtproject.qt5.android.bindings.QtActivity" android:label="@string/app_name" android:configChanges="orientation|locale|fontScale|keyboard|keyboardHidden|navigation" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<meta-data android:name="android.app.qt_sources_resource_id" android:resource="@array/qt_sources"/>
			<meta-data android:value="@string/repository" android:name="android.app.repository"/>
			<meta-data android:name="android.app.qt_libs_resource_id" android:resource="@array/qt_libs"/>
			<meta-data android:name="android.app.bundled_libs_resource_id" android:resource="@array/bundled_libs"/>
			<meta-data android:value="Mapper" android:name="android.app.lib_name"/>
			<!-- Deploy Qt libs as part of package -->
			<meta-data android:value="0" android:name="android.app.bundle_local_qt_libs"/>
			<meta-data android:name="android.app.bundled_in_lib_resource_id" android:resource="@array/bundled_in_lib"/>
			<meta-data android:name="android.app.bundled_in_assets_resource_id" android:resource="@array/bundled_in_assets"/>
			<!-- Run with local libs -->
			<meta-data android:value="1" android:name="android.app.use_local_qt_libs"/>
			<meta-data android:value="/data/local/tmp/qt/" android:name="android.app.libs_prefix"/>
			<meta-data android:value="plugins/platforms/android/libqtforandroid.so:libs/libgnustl_shared.so:" android:name="android.app.load_local_libs"/>
			<meta-data android:value="jar/QtAndroid.jar:jar/QtAndroidAccessibility.jar:" android:name="android.app.load_local_jars"/>
			<meta-data android:value=":" android:name="android.app.static_init_classes"/>
			<!--  Messages maps -->
			<meta-data android:value="@string/ministro_not_found_msg" android:name="android.app.ministro_not_found_msg"/>
			<meta-data android:value="@string/ministro_needed_msg" android:name="android.app.ministro_needed_msg"/>
			<meta-data android:value="@string/fatal_error_msg" android:name="android.app.fatal_error_msg"/>
			<!--  Messages maps -->
			<!-- Splash screen -->
			<meta-data android:name="android.app.splash_screen" android:resource="@layout/splash"/>
			<!-- Splash screen -->
		</activity>
	</application>
	<supports-screens android:normalScreens="true" android:smallScreens="true" android:largeScreens="true" android:anyDensity="true"/>
	<uses-sdk android:targetSdkVersion="11" android:minSdkVersion="9"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
