<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.8.2" android:versionCode="802" package="org.openorienteering.mapper" android:installLocation="auto">
    <application android:name="org.qtproject.qt5.android.bindings.QtApplication" android:label="@string/long_app_name" android:icon="@drawable/icon">
        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|locale|fontScale|keyboard|keyboardHidden|navigation"
                  android:name="org.openorienteering.mapper.MapperActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.omap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.omap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.omap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.omap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.omap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.xmap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.xmap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.xmap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.xmap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xmap"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.ocd"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.ocd"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.ocd"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.ocd"/>
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ocd"/>
            </intent-filter>
            <meta-data android:value="Mapper" android:name="android.app.lib_name"/>
            <meta-data android:resource="@array/qt_sources" android:name="android.app.qt_sources_resource_id"/>
            <meta-data android:value="default" android:name="android.app.repository"/>
            <meta-data android:resource="@array/qt_libs" android:name="android.app.qt_libs_resource_id"/>
            <meta-data android:resource="@array/bundled_libs" android:name="android.app.bundled_libs_resource_id"/>
            <!-- Deploy Qt libs as part of package -->
            <meta-data android:value="-- %%BUNDLE_LOCAL_QT_LIBS%% --" android:name="android.app.bundle_local_qt_libs"/>
            <meta-data android:resource="@array/bundled_in_lib" android:name="android.app.bundled_in_lib_resource_id"/>
            <meta-data android:resource="@array/bundled_in_assets" android:name="android.app.bundled_in_assets_resource_id"/>
            <!-- Run with local libs -->
            <meta-data android:value="-- %%USE_LOCAL_QT_LIBS%% --" android:name="android.app.use_local_qt_libs"/>
            <meta-data android:value="/data/local/tmp/qt/" android:name="android.app.libs_prefix"/>
            <!-- Automatic dependency detection is currently not used for Mapper. -->
            <meta-data android:value="-- %%INSERT_LOCAL_LIBS%% --" android:name="android.app.load_local_libs.AUTO"/>
            <meta-data android:value="-- %%INSERT_LOCAL_JARS%% --" android:name="android.app.load_local_jars.AUTO"/>
            <meta-data android:value="-- %%INSERT_INIT_CLASSES%% --" android:name="android.app.static_init_classes.AUTO"/>
            <!-- Reviewed result of automatic dependency detection. -->
            <meta-data android:value="plugins/platforms/android/libqtforandroid.so:plugins/sensors/libqtsensors_android.so:plugins/position/libqtposition_android.so" android:name="android.app.load_local_libs"/>
            <meta-data android:value="jar/QtAndroid-bundled.jar:jar/QtAndroidAccessibility-bundled.jar:jar/QtSensors-bundled.jar:jar/QtPositioning-bundled.jar" android:name="android.app.load_local_jars"/>
            <meta-data android:value="org.qtproject.qt5.android.sensors.QtSensors:org.qtproject.qt5.android.positioning.QtPositioning" android:name="android.app.static_init_classes"/>
            <!-- Splash screen -->
            <meta-data android:resource="@layout/splash" android:name="android.app.splash_screen"/>
        </activity>
    </application>
    <uses-sdk android:targetSdkVersion="19" android:minSdkVersion="9"/>
    <supports-screens android:largeScreens="true" android:anyDensity="true" android:normalScreens="true" android:smallScreens="true"/>
    <!-- Not used for Mapper: %%INSERT_PERMISSIONS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- %%INSERT_FEATURES -->
</manifest>
