<?xml version="1.0" encoding="UTF-8"?>
<mime-info xmlns="http://www.freedesktop.org/standards/shared-mime-info">
   <mime-type type="application/x-openorienteering-xmap">
     <sub-class-of type="text/xml"/>
     <comment>Orienteering map</comment>
     <comment xml:lang="bg">Карта за ориентиране</comment>
     <comment xml:lang="cs">Mapa pro orientační běh</comment>
     <comment xml:lang="da">Orienteringskort</comment>
     <comment xml:lang="de">Orientierungslaufkarte</comment>
     <comment xml:lang="eo">Orientiĝa mapo</comment>
     <comment xml:lang="es">Mapa de orientación</comment>
     <comment xml:lang="et">Orienteerumiskaart</comment>
     <comment xml:lang="fi">Suunnistuskartta</comment>
     <comment xml:lang="fr">Carte d'orientation</comment>
     <comment xml:lang="he">מפת ניווט</comment>
     <comment xml:lang="hr">Orijentacijska karta</comment>
     <comment xml:lang="hu">Tájfutó térkép</comment>
     <comment xml:lang="id">Peta orienteering</comment>
     <comment xml:lang="it">Carta da orientamento</comment>
     <comment xml:lang="ja">オリエンテーリング地図</comment>
     <comment xml:lang="ko">오리엔티어링 지도</comment>
     <comment xml:lang="lv">Orientēšanās karte</comment>
     <comment xml:lang="nb">Orienteringskart</comment>
     <comment xml:lang="nl">Oriëntatiekaart</comment>
     <comment xml:lang="pl">Mapa do biegu na orientację</comment>
     <comment xml:lang="pt">Mapa de orientação</comment>
     <comment xml:lang="pt_BR">Mapa de orientação</comment>
     <comment xml:lang="ru">Спортивная карта</comment>
     <comment xml:lang="sv">Orienteringskarta</comment>
     <comment xml:lang="ta">ஓரியண்டரிங் வரைபடம்</comment>
     <comment xml:lang="tr">Oryantiring Haritası</comment>
     <comment xml:lang="uk">Спортивна карта</comment>
     <comment xml:lang="zh_CN">定向运动地图</comment>
     <comment xml:lang="zh_Hant">定向越野運動地圖</comment>
     <glob pattern="*.omap"/>
     <glob pattern="*.xmap"/>
   </mime-type>
   <mime-type type="application/x-openorienteering-ocd">
     <comment>Orienteering map</comment>
     <comment xml:lang="bg">Карта за ориентиране</comment>
     <comment xml:lang="cs">Mapa pro orientační běh</comment>
     <comment xml:lang="da">Orienteringskort</comment>
     <comment xml:lang="de">Orientierungslaufkarte</comment>
     <comment xml:lang="eo">Orientiĝa mapo</comment>
     <comment xml:lang="es">Mapa de orientación</comment>
     <comment xml:lang="et">Orienteerumiskaart</comment>
     <comment xml:lang="fi">Suunnistuskartta</comment>
     <comment xml:lang="fr">Carte d'orientation</comment>
     <comment xml:lang="he">מפת ניווט</comment>
     <comment xml:lang="hr">Orijentacijska karta</comment>
     <comment xml:lang="hu">Tájfutó térkép</comment>
     <comment xml:lang="id">Peta orienteering</comment>
     <comment xml:lang="it">Carta da orientamento</comment>
     <comment xml:lang="ja">オリエンテーリング地図</comment>
     <comment xml:lang="ko">오리엔티어링 지도</comment>
     <comment xml:lang="lv">Orientēšanās karte</comment>
     <comment xml:lang="nb">Orienteringskart</comment>
     <comment xml:lang="nl">Oriëntatiekaart</comment>
     <comment xml:lang="pl">Mapa do biegu na orientację</comment>
     <comment xml:lang="pt">Mapa de orientação</comment>
     <comment xml:lang="pt_BR">Mapa de orientação</comment>
     <comment xml:lang="ru">Спортивная карта</comment>
     <comment xml:lang="sv">Orienteringskarta</comment>
     <comment xml:lang="ta">ஓரியண்டரிங் வரைபடம்</comment>
     <comment xml:lang="tr">Oryantiring Haritası</comment>
     <comment xml:lang="uk">Спортивна карта</comment>
     <comment xml:lang="zh_CN">定向运动地图</comment>
     <comment xml:lang="zh_Hant">定向越野運動地圖</comment>
     <glob pattern="*.ocd"/>
   </mime-type>
</mime-info>
