<?xml version="1.0" encoding="UTF-8"?>
<mime-info xmlns="http://www.freedesktop.org/standards/shared-mime-info">
   <mime-type type="application/x-openorienteering-xmap">
     <sub-class-of type="text/xml"/>
     <comment>Orienteering map</comment>
     <comment xml:lang="cs">Mapa pro orientační běh</comment>
     <comment xml:lang="da">Orienteringskort</comment>
     <comment xml:lang="de">Orientierungslaufkarte</comment>
     <comment xml:lang="eo">Orientiĝa mapo</comment>
     <comment xml:lang="es">Mapa de orientación</comment>
     <comment xml:lang="fi">Suunnistuskartta</comment>
     <comment xml:lang="fr">Carte d'orientation</comment>
     <comment xml:lang="hu">Tájfutó térkép</comment>
     <comment xml:lang="id">Peta orienteering</comment>
     <comment xml:lang="it">Mappa da Orienteering</comment>
     <comment xml:lang="ja">オリエンテーリング地図</comment>
     <comment xml:lang="lv">Orientēšanās karte</comment>
     <comment xml:lang="nb">Orienteringskart</comment>
     <comment xml:lang="nl">Oriëntatiekaart</comment>
     <comment xml:lang="pl">Mapa do biegu na orientację</comment>
     <comment xml:lang="pt_BR">Mapa de orientação</comment>
     <comment xml:lang="ru">Спортивная карта</comment>
     <comment xml:lang="sv">Orienteringskarta</comment>
     <comment xml:lang="uk">Спортивна карта</comment>
     <comment xml:lang="zh_CN">定向运动地图</comment>
     <glob pattern="*.omap"/>
     <glob pattern="*.xmap"/>
   </mime-type>
   <mime-type type="application/x-openorienteering-ocd">
     <comment>Orienteering map</comment>
     <comment xml:lang="cs">Mapa pro orientační běh</comment>
     <comment xml:lang="da">Orienteringskort</comment>
     <comment xml:lang="de">Orientierungslaufkarte</comment>
     <comment xml:lang="eo">Orientiĝa mapo</comment>
     <comment xml:lang="es">Mapa de orientación</comment>
     <comment xml:lang="fi">Suunnistuskartta</comment>
     <comment xml:lang="fr">Carte d'orientation</comment>
     <comment xml:lang="hu">Tájfutó térkép</comment>
     <comment xml:lang="id">Peta orienteering</comment>
     <comment xml:lang="it">Mappa da Orienteering</comment>
     <comment xml:lang="ja">オリエンテーリング地図</comment>
     <comment xml:lang="lv">Orientēšanās karte</comment>
     <comment xml:lang="nb">Orienteringskart</comment>
     <comment xml:lang="nl">Oriëntatiekaart</comment>
     <comment xml:lang="pl">Mapa do biegu na orientację</comment>
     <comment xml:lang="pt_BR">Mapa de orientação</comment>
     <comment xml:lang="ru">Спортивная карта</comment>
     <comment xml:lang="sv">Orienteringskarta</comment>
     <comment xml:lang="uk">Спортивна карта</comment>
     <comment xml:lang="zh_CN">定向运动地图</comment>
     <glob pattern="*.ocd"/>
   </mime-type>
</mime-info>
