# This file is part of OpenOrienteering.

# Copyright 2019 Kai Pastor
#
# Redistribution and use is allowed according to the terms of the BSD license:
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 
# 1. Redistributions of source code must retain the copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
# 3. The name of the author may not be used to endorse or promote products 
#    derived from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
# IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
# OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
# NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
# THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

trigger:
  branches:
    exclude:
    - manual
    - images

jobs:
- job: macOS_Debug
  pool:
    vmImage: 'macos-10.13'
  steps:
    - template: build-steps.yml
      parameters:
        imageName: 'macos-10.13'
        cmakeArgs: >
          -DCMAKE_BUILD_TYPE=Debug
          -DMapper_CI_GDAL_DATA_DIR=$(Build.SourcesDirectory)/build/default/install/share/gdal

- job: Linux_Release
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
    - template: build-steps.yml
      parameters:
        imageName: 'ubuntu-16.04'
        cmakeArgs: >
          -DCMAKE_BUILD_TYPE=Release
          -DMapper_CI_GDAL_DATA_DIR=$(Build.SourcesDirectory)/build/default/install/share/gdal

- job: Android_armv7_Release
  pool:
    vmImage: 'macos-10.13'
  steps:
    - template: build-steps.yml
      parameters:
        imageName: 'macos-10.13'
        targetSuffix: '-arm-linux-androideabi'
        cmakeArgs: >
          -DCMAKE_BUILD_TYPE=Relase
          -DENABLE_arm-linux-androideabi=1
          -Darm-linux-androideabi_INSTALL_DIR=$(Build.SourcesDirectory)/build/default/install/arm-linux-androideabi
          -Darm-linux-androideabi_INSTALL_PREFIX=/usr
          -Darm-linux-androideabi_TOOLCHAIN_DIR=$(Build.SourcesDirectory)/build/default/install/arm-linux-androideabi/toolchain
          -DMapper_CI_GDAL_DATA_DIR=$(Build.SourcesDirectory)/build/default/install/arm-linux-androideabi/usr/share/gdal
          -DANDROID_BUILD_LIBCXX=1
        toolchainTargets: >
          arm-linux-androideabi-toolchain-$(openorienteering.superbuild.ndkVersion)
          android-libcxx-armeabi-v7a-$(openorienteering.superbuild.ndkVersion)

- job: MinGW_x64_Release
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
    - template: build-steps.yml
      parameters:
        imageName: 'ubuntu-16.04'
        targetSuffix: '-x86_64-w64-mingw32'
        cmakeArgs: >
          -DCMAKE_BUILD_TYPE=Relase
          -DENABLE_x86_64-w64-mingw32=1
          -Dx86_64-w64-mingw32_INSTALL_DIR=$(Build.SourcesDirectory)/build/default/install/x86_64-w64-mingw32
          -Dx86_64-w64-mingw32_INSTALL_PREFIX=/usr
          -Dx86_64-w64-mingw32_TOOLCHAIN_DIR=$(Build.SourcesDirectory)/build/default/install/x86_64-w64-mingw32/toolchain
          -DMapper_CI_GDAL_DATA_DIR=$(Build.SourcesDirectory)/build/default/install/x86_64-w64-mingw32/usr/share/gdal
          -Dmingw-w64_FIX_HEADERS=1
        toolchainTargets: >
          x86_64-w64-mingw32-toolchain-1
