/*
 *    Copyright 2014 Kai Pastor
 *
 *    This file is part of OpenOrienteering.
 *
 *    OpenOrienteering is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    OpenOrienteering is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with OpenOrienteering.  If not, see <http://www.gnu.org/licenses/>.
 */


body {
    font-family: Arial, Helvetica;
}

body:first-child {
    font-size: 200%;
}

blockquote { 
    margin-left: 20px;
}

#buildversion {
    display:none;
}

.toc .level1 {
}

.toc .level2 {
    margin-left: 10px;
}

.toc .level3 {
    margin-left: 20px;
}

.clearfix {
    clear: both
}
